body {
  /* 画面中央に配置するためのスタイル */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* 画面外の要素を表示しない */
  background-color: #87CEEB; /* 青空の色 */
}

#game-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.background {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tower-base {
  width: 100%;
  height: 50px;
  object-fit: cover;
  position: absolute;
  bottom: 30%;
  z-index: 2; /* 土台を前面に表示 */
}

.falling-object {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -100px; /* 初期位置を画面外に設定 */
  animation: fall 2s linear forwards;
  z-index: 1; /* 落下するオブジェクトを背景よりも奥に表示 */
}

@keyframes fall {
  to {
    top: calc(100% - 100px); /* 画面底辺から100px上の位置まで落とす */
  }
}

#rotate-button,
#drop-button {
  position: absolute;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 25px; /* 角丸 */
  transition: background-color 0.3s ease;
}

#rotate-button {
  bottom: 20px;
  right: 20px; /* left から right に変更 */
  background-color: #77aaff; /* ボタンの背景色 */
  color: #fff; /* ボタンの文字色 */
}

#drop-button {
  bottom: 80px;
  right: 20px; /* left から right に変更 */
  background-color: #ff77aa; /* ボタンの背景色 */
  color: #fff; /* ボタンの文字色 */
}

#rotate-button:hover,
#drop-button:hover {
  background-color: #ff5599; /* ホバー時の背景色 */
}

#falling-object-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2; /* 土台を前面に表示 */
}